#AdministratorMenuTab
{
	-fx-background-image:url("/images/1280x1024-light-blue-solid-color-background.jpg");
}

#AdministratorInformationHeader
{
	-fx-background-image:url("/images/bluesplitpane.png");
}
#AdminInformationPanel
{
	 -fx-background-image:url("/images/light-blue-background-2.jpg");
}
#AddNewCustomerPanel
{
	 -fx-background-image:url("/images/light-blue-background-2.jpg");
}
#CustomerListPanel
{
	 -fx-background-image:url("/images/light-blue-background-2.jpg");
}

#DebtmanagementPanel
{
	 -fx-background-image:url("/images/light-blue-background-2.jpg");
}

#AdminPaymentTransactionPanel
{
	 -fx-background-image:url("/images/light-blue-background-2.jpg");
}

#customerGraphPanel
{
	 -fx-background-image:url("/images/light-blue-background-2.jpg");
}
