#loginPanel
{
	 -fx-background-image:url("/images/loginbg.jpg");
}

#customerloginPanel
{
	 -fx-background-image:url("/images/loginbg.jpg");
}

#administratorloginPanel
{
	 -fx-background-image:url("/images/loginbg.jpg");
}
