#AccountInformationPanel
{
	 -fx-background-image:url("/images/light-blue-background-2.jpg");
}
#DebtInformation
{
	 -fx-background-image:url("/images/light-blue-background-2.jpg");
}
#CustomerMenuTab
{
	-fx-background-image:url("/images/1280x1024-light-blue-solid-color-background.jpg");
}

#CustomerInformationHeader
{
	-fx-background-image:url("/images/bluesplitpane.png");
}

#PaymentTransaction
{
	 -fx-background-image:url("/images/light-blue-background-2.jpg");
}
#UpdateCustomerInformationPanel
{
	 -fx-background-image:url("/images/light-blue-background-2.jpg");
}

#PaymenHistory
{
	 -fx-background-image:url("/images/light-blue-background-2.jpg");
}
